<ion-view title="{{::bar.name}}">
   <ion-content>
      <div id="bars"></div>

      <photo-gallery>
         <div class="content">
            <div class="image-overlay"></div>
            <div class="image-gradient"></div>
            <img class="main-bar-image" src="{{::bar.photo}}" imageonload/>
         </div>
      </photo-gallery>

      <div ng-click="bar.openModal()" class="infobar">
         <div class="col">
            <icon class="ion-star"></icon>
            <span>Rate</span>
         </div>
         <div ng-click="bar.toggleFavorite()" ng-class="{ 'favorite' : bar.favoriteClass }" class="col {{bar.favoriteClass}}">
            <icon class="ion-bookmark"></icon>
            <span>Favorite</span>
         </div>
         <div ng-click="bar.launchDirections()" class="col">
            <icon class="ion-location"></icon>
            <span>Directions</span>
         </div>
         <div ng-click="bar.checkIn()" class="col">
            <icon class="ion-location"></icon>
            <span>Check In</span>
         </div>
      </div>

      <content-area>
         <h1>{{::bar.name}}</h1>

         <div class="location">
            <icon class="ion-location"></icon>
            <span>{{::bar.address}}</span>
         </div>

         <div class="stars">
            <div ng-repeat="star in ::bar.stars track by $index">
               <icon class="star"></icon>
            </div>
         </div>

         <div ng-if="bar.reviews.length > 0" class="reviews">
            <div ng-repeat="review in bar.reviews" class="review">

               <div class="review-bar"></div>

               <div class="author">{{review.author_name}}</div>

               <div ng-if="review.aspects.rating">
                  <span class="rating">{{review.aspects.rating}}</span>
               </div>

               <p class="review-text">{{review.text}}</p>

            </div>
         </div>

         <!--<div ng-if="bar.recentActivity > 0">-->
         <!--<p ng-repeat="checkin in bar.recentActivity">-->
         <!--{{checkIn.barName}}-->
         <!--{{checkIn.dateTime}}-->
         <!--</p>-->
         <!--</div>-->
      </content-area>


   </ion-content>
</ion-view>