<ion-view title="Favorite Bars" cache-view="false">
   <ion-content>
      <!-- Buttons -->
      <button class="button button-full button-positive" ng-click="login.facebookLogin('facebook')">Login with Facebook</button>
      <button class="button button-full button-positive"
              ng-click="login.emailLogin('facebook')">Login with Email</button>
      <button class="button button-full button-outline button-assertive" ng-click="login.logout()">Logout</button>

      <form class="email-login" ng-submit="login.emailLogin()">
         <div class="list">
            <label class="item item-input">
               <span class="input-label">Username</span>
               <input type="text" ng-model="loginData.username">
            </label>
            <label class="item item-input">
               <span class="input-label">Password</span>
               <input type="password" ng-model="loginData.password">
            </label>
            <label class="item">
               <button class="button button-block button-positive" type="submit">Log in</button>
            </label>
         </div>
      </form>

      <!-- Logged-in user text -->
      <div class="card">
         <div class="item item-text-wrap" ng-hide="login.user">User not logged in</div>
         <div class="item item-text-wrap" ng-show="login.user" ng-bind="login.user.uid"></div>
      </div>
   </ion-content>
</ion-view>