<ion-view title="Settings">
   <ion-content>

      <div class="range" on-tap="settings.setPhoto()">
         <img ng-src="{{settings.photo}}" class="circle-image" image-on-load />
         <span class="setting-text setting-photo">Set Photo</span>
      </div>

      <ion-toggle ng-checked="settings.openBarsOnly"
                  ng-model="settings.openBarsOnly"
                  ng-change="settings.openBarsOnlyChange()">
         Show Closed Bars
      </ion-toggle>

      <div class="list">
         <div class="item range range-positive">
            <i class="icon ion-ios7-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="100" value="33">
            <i class="icon ion-ios7-sunny"></i>
         </div>
      </div>

   </ion-content>
</ion-view>