<ion-tabs class="tabs-icon-top tabs-color-active-positive">

   <!-- Map Tab -->
   <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/tab/map">
      <ion-nav-view name="tab-map"></ion-nav-view>
   </ion-tab>


   <!-- Browse Tab -->
   <ion-tab title="Browse" icon-off="ion-beer" icon-on="ion-beer" href="#/tab/browse">
      <ion-nav-view name="tab-browse"></ion-nav-view>
   </ion-tab>

   <!-- Favorites Tab -->
   <ion-tab title="Favorite Bars" icon-off="ion-heart" icon-on="ion-heart" href="#/tab/favorites">
      <ion-nav-view name="tab-favorites"></ion-nav-view>
   </ion-tab>

   <!--&lt;!&ndash; Checkins Tab &ndash;&gt;-->
   <!--<ion-tab title="Checkins" icon-off="ion-gear-b" icon-on="ion-gear-b"-->
   <!--href="#/tab/check-ins">-->
   <!--<ion-nav-view name="tab-check-ins"></ion-nav-view>-->
   <!--</ion-tab>-->

   <!--&lt;!&ndash; Login Tab &ndash;&gt;-->
   <!--<ion-tab title="Login" icon-off="ion-gear-b" icon-on="ion-gear-b"-->
   <!--href="#/tab/login">-->
   <!--<ion-nav-view name="tab-login"></ion-nav-view>-->
   <!--</ion-tab>-->

   <!-- Settings Tab -->
   <ion-tab title="Settings" icon-off="ion-gear-b" icon-on="ion-gear-b" href="#/tab/settings">
      <ion-nav-view name="tab-settings"></ion-nav-view>
   </ion-tab>

</ion-tabs>